extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapLine}

  .row
    .col-12.col-md-8
      .error= message
      p Hi I am here
      app-home-list


    .col-12.col-md-4
      p.lead= sidebar

block scripts
  <script src="runtime.acf0dec4155e77772545.js" defer></script>
  <script src="polyfills.35a5ca1855eb057f016a.js" defer></script>
  <script src="main.4f371794c64058b7c690.js" defer></script></body>
