extends layout

block content
    .row.banner  
        .col-12
            h1 Seng
                small &nbsp;Na makau grup yin na seng ni!
    .row
        .col-12.col-md-8
            p Grup yin na Seng ni.
        .col-12.col-md-4
            p Ndai app hpe lang nna tinang na makau grup yin na myu sha seng ni hpe tam la ga.
            
