extends layout

block content
    .row.banner  
        .col-12
            h1 Seng
                small &nbsp;Makau grup yin na seng ni!
    .row
        .col-12.col-md-8
            .card(style="background-color:lightblue")
                .card-block(style="margin:1em 1em 1em 1em")
                    h4
                        a(href="/sengalam") Starcups
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right(style="background-color:red;radius:50%") 100m
                    p.address 125 High Street, Reading, RG6 1PS
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi
            .card(style="background-color:lightblue")
                .card-block(style="margin:1em 1em 1em 1em")
                    h4
                        a(href="/sengalam") Starcups
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right(style="background-color:red;radius:50%") 100m
                    p.address 125 High Street, Reading, RG6 1PS
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi
            .card(style="background-color:lightblue")
                .card-block(style="margin:1em 1em 1em 1em")
                    h4
                        a(href="/sengalam") Starcups
                        small &nbsp;
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.far.fa-star
                            i.far.fa-star
                        span.badge.badge-pill.badge-default.float-right(style="background-color:red;radius:50%") 100m
                    p.address 125 High Street, Reading, RG6 1PS
                    p.facilities
                        span.badge.badge-warning Hot drinks
                        span.badge.badge-warning Food
                        span.badge.badge-warning Premium wifi
        .col-12.col-md-4
            p Ndai app hpe lang nna tinang na makau grup yin na myu sha seng ni hpe tam la ga.
            
